---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import ArticleHeader from "../../components/ArticleHeader.astro";
import Icon from "../../components/Icon.astro";
import Pill from "../../components/Pill.astro";
import { render } from "astro:content";
import Prose from "../../components/Prose.astro";

interface Props {
    entry: CollectionEntry<"blog">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
    const work = await getCollection("blog");
    return work.map((entry) => ({
        params: { slug: entry.id },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
    <sectio>
        <ArticleHeader
            title={entry.data.title}
            align="start"
            cover={entry.data.img}
            description={entry.data.description}
            subtitle={entry.data.subtitle}
        >
            <div class="details">
                <ul class="tags flex gap-2 p-2 bg-zinc-900">
                    {entry.data.tags.map((t) => <Pill>{t}</Pill>)}
                </ul>
            </div>
        </ArticleHeader>

        <Prose>
            <Content />
        </Prose>
    </sectio>
    <ContactCTA />
</BaseLayout>
