---
import Icon from "./Icon.astro";

interface Props {
    title: string;
    subtitle?: string;
    description?: string;
    cover?: string;
    align?: "start" | "center";
}

const { align = "center", description, title, subtitle, cover } = Astro.props;
---

<header class="relative">
    <div
        class=`w-full  h-96 bg-cover  bg-red-500 ${align}
    bg-[url(${cover})]
    `
    >
    </div>
    <div class="title">
        <nav>
            <a class="back-link" href="/blog/"
                ><Icon icon="arrow-left" /> Blog</a
            >
        </nav>
        <h1>{title}</h1>
        <p>{subtitle}</p>
        {description && <p>{description}</p>}
    </div>
    <slot />
</header>
