---
import type { CollectionEntry } from "astro:content";
import { SEO } from "astro-seo";
interface Props {
	locale: string | undefined;
	basics: CollectionEntry<"resume">["data"]["basics"];
}

const { basics, locale } = Astro.props;
const title = `${basics.name} | ${basics.label}`;
const twitterLink = basics.profiles.find(
	(profile) => profile.network === "Twitter",
);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <link
      rel="preload"
      href="/fonts/bricolage.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={basics.summary}
      openGraph={{
        basic: {
          title,
          image: basics.image?.src ?? "",
          type: "website",
        },
      }}
      twitter={twitterLink
        ? {
            card: "summary",
            creator: twitterLink.username,
            title,
            description: basics.summary,
            image: basics.image?.src ?? "",
            site: twitterLink.username,
          }
        : undefined}
    />
  </head>
  <body class="flex justify-center p-2">
    <main class="flex flex-col gap-8 w-full max-w-3xl pt-12 pb-10">
      <slot />
    </main>
    <style is:global>
      @font-face {
        font-family: "Bricolage";
        src: url("/fonts/bricolage.ttf") format("truetype");
        font-display: swap;
      }
      :root {
        font-size: large;
        @media only screen and (max-width: 330px) {
          font-size: medium;
        }
        @media print {
          font-size: small;
        }
      }

      body {
        font-family: "Bricolage";
      }
    </style>
  </body>
</html>
